#app {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
}

html, body {
  background-color: white;
  min-height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}